<h2>Add a note</h2>

<form action="<%= notes_url %>" method="post">
  <%= csrf_token %>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  <textarea name="note[body]" rows="3" columns="8"> </textarea>

  <input type="submit" value="Submit">
</form>
