<form action="<%= url %>" method="post">
  <% unless url == bands_url %>
  <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= csrf_token %>
  <label>Add your band's name here
    <input type="text" name="band[name]" value="<%= band.name %>">
  </label>

  <input type="submit" name="Submit">
</form>
